.grid-wrapper {
  display: grid;
  grid-template-columns: 220px auto;
  grid-template-rows: 40px auto;
  min-height: 100vh;
  grid-row-gap: 30px;
}
.sidebar {
  grid-row: 1/3;
  background-color: #fff;
  border: 1px solid#eee;
}
.content {
  grid-row: 2/3;
  padding: 0 50px;
}
body {
  background-color: #f4f4f4;
}
