.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 30px;
  border: 1px solid#eee;
  border-radius: 6px;
  grid-row: 1;
  display: flex;
}

.form-input {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 0;
  width: 100%;
  margin-right: 30px;
}

.form-textarea {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 0;
  width: 100%;
  margin-right: 30px;
}

.btn-save {
  align-self: center;
  margin-top: 10px;
}
