.search {
  background-color: #fff;
  padding: 10px 30px;
  margin: 0 50px;
  border: 1px solid#eee;
  border-radius: 0px 0px 6px 6px;
  grid-row: 1;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 7px 18px;
  width: 100%;
  margin-right: 30px;
}

.search-wrapper {
  position: relative;
}

.search-suggests {
  position: absolute;
  top: 55px;
  left: 0;
  margin: 0 50px;
  width: calc(100% - 100px);
  background-color: #fff;
  border-radius: 4px;
}
