.tag-wrapper > * {
    margin-right: 12px;
}
.tag-wrapper {
    margin-bottom: 15px;
}
.respteam {
    color: #b9b9b9;
    margin-bottom: 2px;
    margin-left: 10px;
}
.agent-email {
    margin-left: 15px;
}
.url {
    display: block;
    margin-bottom: 15px;
}
.state {
    margin-bottom: 2px;
    margin-left: auto;
    display: block;
}
.dropdown-wrapper {
    margin-bottom: 10px;
}
.details-wrapper {
    background-color:#fff;
    padding: 30px;
    border: 1px solid#eee;
    border-radius: 6px;
}
.name-wrapper {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
}
.name-wrapper h2 {
    margin: 0;
}
.related-header {
    margin-bottom: 7px;
}
.related {
    display: flex;
}
.related-desc {
    margin: 0 0 0 70px;
}
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
    margin: -1px;
    padding: 0;
    visibility: hidden;
    opacity: 0;
}