ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 7px 30px;
  transition: all 0.1s ease-out;
  cursor: pointer;
}

ul > ul > li {
  padding-left: 40px;
  padding-right: 20px;
}

ul li:hover {
  background-color: #eeeeee;
}
